<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*" />

    <title>{{_accountInfo.TradingName}}</title>
  </head>
  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
  >
    <center>
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        height="100%"
        width="100%"
        style=""
      >
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="700">
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="700">
                    <!-- <tr>
                      <td style="width: 100%;">
                        <a
                          href="http://{{_accountInfo.HostName}}.com.br"
                          target="_blank"
                        >
                          <img
                            src="http://licensemanager.vtex.com.br/api/site/pub/accounts/{{_accountInfo.Id}}/logos/show"
                            border="0"
                            alt="{{_accountInfo.TradingName}}"
                            style="max-width: 100px;"
                          />
                        </a>
                      </td>
                    </tr> -->
                    <tr>
                      <td valign="top">
                        <br />
                        <table
                          border="0"
                          cellspacing="0"
                          width="100%"
                          style="border-top: solid 1px #c1c1c1;"
                        >
                          <!-- // Header content \\ -->
                          <tr>
                            <td valign="top" style="font-size: 13px;">
                              <br />
                              <p>
                                Hello, <strong>{{organization.admin}}</strong>.
                              </p>
                              <p>
                                The {{organization.name}} organization has been
                                approved.<br />
                              </p>

                              <!-- <p>

                              </p> -->

                              <!-- <p>
                                <a
                                  href="https://vtexid.vtexcommerce.com.br/io/vtexid/vtex-id-client/index.html?externalApplicationAuth=true&statusCode=401&returnUrl="
                                  >Clique aqui</a
                                >
                                para acessar a tela de autenticação para definir
                                a sua senha. Selecione as opções 'Entrar com
                                email e senha', 'Cadastre uma nova senha' e siga
                                o passo a passo para definir a sua senha.'
                              </p> -->
                              <br />
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Content \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table
                    border="0"
                    cellspacing="0"
                    width="700"
                    style="border-top: 3px solid #f2f2f2;"
                  >
                    <tr>
                      <td valign="top" style="font-size: 13px;">
                        <br />
                        <p>
                          <!-- Atenciosamente,<br /> -->
                          {{_accountInfo.TradingName}}
                        </p>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->
                </td>
              </tr>
            </table>
            <br />
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
